.genetailDetailContainer {
    display: flex;
    margin: 0vh;
    /* height: 100%; */
    min-height: 100vh;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-image: url("https://images.pexels.com/photos/461428/pexels-photo-461428.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
}

.container1 {
    background: rgba(255, 255, 255, 0.35);
/* border-radius: 16px; */
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.4px);
-webkit-backdrop-filter: blur(5.4px);
/* border: 1px solid rgba(255, 255, 255, 0.2); */
height: 100%;
min-height: 100vh;
}


.detailImage {
   float: left;
   margin-top: 0;
   width: 30vw;
   height: 55vh;
   /* border: black solid; */
}

.detailTitle {
    margin-top: 80px;
    font-family: sans-serif;
}

.detailHealthscore {
    margin-top: 25px;
    font-size: 1.5rem;
}

.dietsTitle {
    margin-top: 25px;
    font-size: 1.5rem;
    font-family: sans-serif;
}

.diets {
    color: black;
    font-size: 15px;
    font-family: sans-serif;
}

.dishTypesTitle {
    margin-top: 25px;
    font-size: 1.5rem;
    font-family: sans-serif;
}

.dishTypes {
    margin-top: 15px;
    font-size: 15px;
    font-family: sans-serif;
}

.summary {
    margin-top: 20px;
    font-family: sans-serif;
    font-size: 20px;
    margin-left: 140px;
    width: 80%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.stepsTitle {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 1.5rem;
    font-family: sans-serif;
}

.steps {
    width: 80%;
    text-align: center;
    justify-content: center;
    margin-left: 10%;
}

.eachStep {
    margin: 20px;
}

.failcontainer {
    height: 94px;
    align-items: center;
    justify-content: center;
    background-color: bisque;
}

.back2 {
    display: flex;
    height: 3em;
    width: 100px;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee4b;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
   }
   
   .back2 > svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
   }
   
   .back2:hover > svg {
    font-size: 1.2em;
    transform: translateX(-5px);
   }
   
  .back2:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
   }